/* /* 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F Values for Hexadecimal Colors */

/* With hex colors, 00 is 0% of that color, and FF is 100% */

/* The CSS hsl function accepts 3 values: a number from 0 to 360 for hue, a percentage from 0 to 100 for saturation, and a percentage from 0 to 100 for lightness */

h1 {
    text-align: center;
    background-color: rgb(0, 255, 255);
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.red {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: #00FF00;
    /* rgb(0, 255, 0) */
}

.blue {
    background-color: hsl(240, 100, 50);
    /* background-color: rgb(0, 0, 255); */
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.yellow {
    background: rgb(255, 255, 0);
}

.cyan {
    background-color: rgb(0, 255, 255);
}

.magenta {
    background-color: rgb(255, 0, 255);
}

.orange {
    background-color: rgb(255, 127, 0);
}

.spring-green {
    background-color: rgb(0, 255, 127);
}

.violet {
    background-color: rgb(127, 0, 255);
}

.chartreuse {
    background-color: rgb(127, 255, 0);
}

.azure {
    background-color: rgb(0, 127, 255);
}

.rose {
    background-color: rgb(255, 0, 127);
}

.black {
    background-color: rgb(0, 0, 0);
}

.white {
    background-color: rgb(255, 255, 255);
}

.two {
    background-color: black;
}